RELAY_TO_EMAIL="nick@example.com"
POLL_USER="linickx@example-pop.com"
POLL_PASSWORD="correcthorsebatterystaple"
POLL_SERVER="pop3.example-pop.com"
POLL_SERVER_TYPE="pop3"
POLL_SERVER_PORT="995"
SMTP_USER="nick@example-smtp.com"
SMTP_PASSWORD="hunter2"
SMTP_SERVER="mail.example-smtp.com"
SMTP_SERVER_PORT="2525"