name: Docker Image Build and Push

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4  
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Test Env
      run: |
        echo ${{ env.RELEASE_VERSION }}
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        push: true
        tags:  ${{ vars.DOCKERHUB_USERNAME }}/fetchmail-alpine:latest, ${{ vars.DOCKERHUB_USERNAME }}/fetchmail-alpine:${{ env.RELEASE_VERSION }}
    - name: Logout from Docker Hub
      run: docker logout